:root {
  --mygreen: rgb(73, 160, 120);
  --myblack: rgb(31, 36, 33);
  --mydarkBlue: rgb(33, 104, 105);
  --mylightgreen: rgb(156, 197, 161);
  --myplatinum: rgb(220, 225, 222);
}

.main-content-2 {
  height: 100vh;
  background-image: linear-gradient(to bottom right, rgb(220, 225, 222), rgb(156, 197, 161));
}

.main-content {
  height: 100%;
  background-image: linear-gradient(to bottom right, rgb(220, 225, 222), rgb(156, 197, 161));

}


.nav-item a {
  color: #1F2421;
  --bs-nav-link-hover-color: var(--mydarkBlue);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

.top-content {
  background-image: linear-gradient(to bottom right, rgb(220, 225, 222), rgb(156, 197, 161));

}

.bottom-content {
  background-image: linear-gradient(to top right, rgb(220, 225, 222), rgb(156, 197, 161));

}

.bi-mailbox2 {
  color: var(--mygreen);

}

.custom-border {
  width: 70px;
  margin-left: 25px;
  border-color: var(--myblack);
}

.my-name {
  font-size: 60px;
}

.hello-header {
  font-size: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.my-name {
  font-size: 80px;
}

.web-devHead,
.mail-header,
.my-name,
.me-header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.under-me-header {
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.my-card {
  background-color: none;
}



.what-I-know , .about-me-title{
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.custom-border-2 {
  margin-left: 25%;
  width: 50%;
}

.custom-border-3 {
  width: 15%;
}

.know-list {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-resize {
  font-size: 18px;
}

.profile-pic {
  display: block;
}

.lemme-know {
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.custom-btn {
  width: 100%;
}

.cust-form {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar a {
  color: #1F2421;
  --bs-nav-link-hover-color: var(--myplatinum);
}

.navbar-brand{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
}

.bi-steam {
  color: var(--myplatinum);
}

.steam-cust {
  padding-top: 6%;
  text-align: center;
  text-decoration: none;
}

.discord-cust {
  text-align: center;
  padding-top: 6%;
  margin-left: 10%;
  text-decoration: none;
}

.bi-discord {
  color: var(--myplatinum);
  
}

.project-border {
  width: 50%;
}
.project-border-2 {
  width: 50%;
  margin-left: 50%;
}

.project-name {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.project-pic {
  border-radius: 0px;
}

.project-description {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--myblack);
}

/* src/DiagonalDiv.css */
.diagonal-div {
  width: 100%;
  height: 300px; /* Adjust the height as needed */
  background-color: var(--myblack); /* Background color of the diagonal div */
  position: relative;
  overflow: hidden;
}

.diagonal-div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, transparent 49.5%, #fff 49.5%, #fff 50.5%, transparent 50.5%);
}

/* Style the content inside the diagonal div */
.diagonal-div p {
  color: var(--myplatinum);
  padding: 20px;
}


/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Sink */
.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}


@media (max-width: 576px) {
  .profile-pic {
    display: none;
  }

  .text-resize {
    font-size: 15px;
  }

  .col {
    justify-content: center;
  }

  .custom-border-3 {
    width: 55%;
  }

  .diagonal-div::before {
  width: 110%;

  }

  .steam-cust {
    padding-top: 30%;
    margin-left: 5%;
  }
  
  .project-border {
    width: 90%;
  }

  .project-border-2 {
    width: 80%;
    margin-left: 20%;
  }

  .project-pic {
    border-radius: 0px;
  }

}