:root {
  --mygreen: rgb(73, 160, 120);
  --myblack: rgb(31, 36, 33);
  --mydarkBlue: rgb(33, 104, 105);
  --mylightgreen: rgb(156, 197, 161);
  --myplatinum: rgb(220, 225, 222);
}

/* universal segoi font */

.segoi {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* nav-bar styling */
.scrolled-2 {
  color: var(--mydarkBlue);
  background-color: var(--myblack);
  filter: drop-shadow(8px 8px);

}

.scrolled a {
  cursor: pointer;
  text-decoration: none;
  color: var(--mylightgreen);
  --bs-nav-link-hover-color: var(--myplatinum);
  /* background-color: var(--mydarkBlue); */
  font-size: 21px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item a {
  cursor: pointer;
  text-decoration: none;
  color: var(--myplatinum);
  --bs-nav-link-hover-color: var(--mygreen);
  font-size: 21px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cust-nav {
  background-color: transparent;
  /* Set initial background color */
  transition: background-color 0.5s ease;
  /* Add smooth transition */
}

.arian-link {
  padding-right: 40px;
}

.master-nav {
  z-index: 1000;
  position: fixed;
}

/* .portfolio-link {
  padding-left: 65vw;
} */

/* home.js Styling */
.home {
  background-image: url("./Images/home-bg.jpg");
  height: 100vh;
}

.hello {
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 20%;
  color: var(--myblack)
}

.arian-header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 96px;
  color: var(--myplatinum);
  padding-bottom: 10%;
}

.dev-header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: var(--myplatinum);
}

.email-header {
  padding-top: 7%;
  color: var(--myplatinum);
  font-size: 30px;
}

.icon-container {
  padding-top: 15%;
}

.contact-icons {
  text-decoration: none;
  color: var(--myplatinum);
}


/* about.js styling */

.about {
  background-image: linear-gradient(to bottom right, rgb(220, 225, 222), rgb(156, 197, 161));
  height: 130vh;
}

.about-header {
  font-size: 48px;
  width: 80%;
  margin: 20px;
  margin-left: 10%;
  padding: 20px;
  background-color: var(--mylightgreen);
  filter: drop-shadow(16px 16px);
  color: var(--myblack);
}

.about-block {
  width: 60%;
  font-size: 24px;
  margin: 40px;
  padding: 40px;
  margin-left: 20%;
  background-color: var(--myblack);
  color: var(--myplatinum);
  filter: drop-shadow(16px 16px);

}

.skills-header {
  font-size: 48px;
  width: 50%;
  margin: 20px;
  margin-left: 25%;
  padding: 20px;
  background-color: var(--mylightgreen);
  filter: drop-shadow(16px 16px);
  color: var(--myblack);
}

.know-list {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

/* portfolio.js styling */

.portfolio-body {
  background-image: linear-gradient(to top right, rgb(220, 225, 222), rgb(156, 197, 161));
}

.project-header {
  font-size: 48px;
  width: 80%;
  margin-left: 10%;
  padding: 20px;
  background-color: var(--mylightgreen);
  filter: drop-shadow(16px 16px);
  color: var(--myblack);
}

.project-name {
  text-decoration: none;
  color: var(--myblack);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project-description {
  font-size: 28px;
  color: var(--mydarkBlue);
  background-color: var(--mylightgreen);
  filter: drop-shadow(16px 16px);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-pic {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 38rem;
}

/* contact.js styling */

.contact-header {
  font-size: 48px;
  width: 50%;
  margin-left: 25%;
  padding: 20px;
  background-color: var(--mylightgreen);
  filter: drop-shadow(16px 16px);
  color: var(--myblack);
}

.contact-body {
  background-image: linear-gradient(to bottom right, rgb(220, 225, 222), rgb(156, 197, 161));
}

.lemme-know {
  font-size: 38px;
}

.custom-form-cont {
  margin-left: 10%;
  /* background-color: var(--mydarkBlue); */
}

.inside-form {
  background-color: var(--mydarkBlue);
  filter: drop-shadow(16px 16px);

}

.cust-form {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: var(--myplatinum);
}

.resume {
  text-decoration: none;
  color: var(--myblack);

}

.link-bg:hover {
color: var(--mydarkBlue);
transition: color 0.2s ease;
}

.resume-image {
  background-color: var(--mylightgreen);
  filter: drop-shadow(16px 16px);

}

.placeholder {
  color: var(--myplatinum);
}

.popup {
  font-size: 28px;
  color: var(--myplatinum)
}

.custom-btn {
  width: 100%;
}

/* bottombar.js styling */

.bottom {
  text-decoration: none;
  background-image: linear-gradient(to top right, rgb(220, 225, 222), rgb(156, 197, 161));
}

.custom-link-2 {
  color: var(--myblack);
}

@media (max-width: 576px) {


  /* Universal Segoi font */

  .segoi {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  /* Nav-bar styling */
  .scrolled-2 {
    background-color: var(--myblack);
  }

  .scrolled a,
  .nav-item a {
    font-size: 18px;
  }

  /* Adjust position of portfolio-link */
  .portfolio-link {
    padding-left: 10px;
  }

  /* Home.js Styling */
  .home {
    height: 101vh;
  }

  .hello {
    display: none;
    font-size: 30px;
    padding-bottom: 90%;
    padding-right: 10%;
  }

  .arian-header {
    font-size: 60px;
    padding-bottom: 30%;
  }

  .dev-header {
    font-size: 30px;
    padding-top: 40%;
  }

  .email-header {
    padding-top: 80%;
    font-size: 20px;
    padding-left: 12%;
  }

  .icon-container {
    padding-top: 120%;
  }

  .bi-github,
  .bi-linkedin,
  .bi-slack {
    width: 40px;
  }

  /* About.js styling */
  .about {
    height: auto;
  }

  .about-header {
    font-size: 36px;
    width: 90%;
    margin: 10px;
    margin-left: 5%;
    padding: 10px;
  }

  .about-block {
    width: 80%;
    font-size: 18px;
    margin: 40px;
    padding: 10px;
    margin-left: 10%;
  }

  .skills-header {
    font-size: 36px;
    width: 70%;
    margin: 10px;
    margin-left: 15%;
    padding: 10px;
  }

  .know-list {
    font-size: 17px;
  }

  .bi-git,
  .bi-hexagon-half,
  .bi-database,
  .bi-bootstrap,
  .bi-window-split,
  .bi-database-fill {
    width: 70px;
  }

  .about-mobile-sep {
    background-color: var(--mylightgreen);
  }

  /* Portfolio.js styling */
  .portfolio-body {
    height: auto;
  }

  .project-header {
    font-size: 36px;
    width: 90%;
    margin-left: 5%;
    padding: 10px;
  }

  .project-name {
    font-size: 24px;
  }

  .project-description {
    font-size: 16px;
  }

  .project-pic {
    width: 100%;
    margin-top: 40%;
  }

  /* Contact.js styling */
  .contact-header {
    font-size: 36px;
    width: 70%;
    margin-left: 15%;
    padding: 10px;
  }

  .contact-body {
    height: auto;
  }

  .lemme-know {
    font-size: 28px;
  }

  .custom-form-cont {
    margin-left: 5%;
  }


  .cust-form {
    font-size: 18px;
  }

  .resume {
    font-size: 18px;
  }

  .popup {
    font-size: 24px;
  }

  .custom-btn {
    width: 100%;
  }

  /* Bottombar.js styling */

  .custom-link-2 {
    font-size: 18px;
  }

}